@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply bg-white/80 backdrop-blur border border-amber-200 rounded-xl px-3 py-2 shadow-sm outline-none focus:ring-2 focus:ring-amber-300 focus:border-amber-300;
  }
}
